/* Color the body */
body{
  background-color: rgb(138, 218, 211);
}

/* Center the container */
#container {
  padding-top:50px;
  margin:0 auto;
  width:480px;
}

/* Give canvas a background */
canvas {
  background-color: black;
}
